<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4RFDdasODorgXPFaEv2ZK9uXlAo7B6oY</string>
	<key>GCM_SENDER_ID</key>
	<string>583220208615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasanbayliveysal.MyThreads</string>
	<key>PROJECT_ID</key>
	<string>mythreads-6cb29</string>
	<key>STORAGE_BUCKET</key>
	<string>mythreads-6cb29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583220208615:ios:bbc3369ee13712baacd342</string>
</dict>
</plist>